.wrapper
    = render 'shared/side_bar' 
    .chat
        .header
            .left-header 
                %h2.left-header__title
                %ul.left-header__members
                    Member :
                    %li.member
                        メッセンジャー００
            .right-header
                .right-header__button
                Edit

        .messages
            = render partial: 'message', collection: @messages

        .form
        = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
            = f.file_field :image, class: 'hidden'
            = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'    
            = f.submit 'Send', class: 'form__submit'
